:root {
   --theme-color: deeppink;
   --secondary-theme-color: #242a20;
   --text-color: #fff;
   --highlight-text-color: #61dafb;
   --letter-color-1: #00bef8;
   --letter-color-2: #ff0697;
   --letter-color-3: #ff4d00;
   --letter-color-4: #ffe600;
   --letter-color-5: #bb00ff;
   --letter-color-6: #f5926b;
}

@keyframes cover__name  {
   to {
      transform: scale(1);
   }
   from {
      transform: scale(1.1);
   }
}


.body {
   background-image: radial-gradient(var(--theme-color), var(--secondary-theme-color));
   color: var(--text-color);
   font-family: 'Inter', 'San serif';
}
.main {
   display: flex; 
   flex-direction: column;
}

.cover 
.acrostic {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.cover__name {
   display: flex;
   gap: .5rem;
   font-size: 4rem;
   text-decoration:none;
   display: block;
   font-weight: 900;
   padding: 0 2rem;
}

.cover__name-letter {
   position: relative; 
   transition: all 0.5s; 
}

.cover__name-letter::before {
   content: var(--letter);
   position: absolute; 
   transform: scale(1.1);
   filter: blur(1rem);
}

.cover__name-letter::after {
   content: var(--letter);
   position: absolute;
   top: 75%;
   left: 0;
   filter: blur(0.25rem);
   transform: rotateX(60deg);
}

.cover__name-letter:hover {
   filter: brightness(250%);
}

.cover__name-letter:nth-child(1){
   color: var(--letter-color-1)
}
.cover__name-letter:nth-child(2){
   color: var(--letter-color-2)
}
.cover__name-letter:nth-child(3){
   color: var(--letter-color-3)
}
.cover__name-letter:nth-child(4){
   color: var(--letter-color-4)
}
.cover__name-letter:nth-child(5){
   color: var(--letter-color-5)
}
.cover__name-letter:nth-child(6){
   color: var(--letter-color-6)
}

.acrostic {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.acrostic__stanza {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin: 0;
   padding: 0 2rem;
   list-style: none;
}

.acrostic__verse {
   letter-spacing: .1rem;
   font-weight: 500;
   text-shadow: 
      0 0 .5rem var(--highlight-text-color),
      0 0 1rem var(--highlight-text-color),
      0 0 1.5rem var(--highlight-text-color);
}

.acrostic__verse::first-letter {
   font-size: 2rem;
   font-weight: 600;
   color: var(--highlight-text-color);
}

@media (min-width: 854px){
   .cover__name {
      gap: 2rem;
      font-size: 8rem;
      max-width: 1024px;
      margin: auto;
      padding: 0;
   } 
   .acrostic__stanza {
      gap: 2rem;
      max-width: 1024px;
      margin: auto;
      padding: 0;
   }
   .acrostic__verse {
      font-size: 1.5rem;
   }
}